<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid p-2 mb-0">
        <div class="container p-4">
            <h2 class="text-center">Awards</h2>
            <hr>
            <p>Hard work always pays off.We at Greenply abide by this principle,
                thereby rightfully earning rewards for our excellent performance
                in the plywood industry of India.
            </p>
        </div>
    </div>
    <!-- testing -->
    <div class="awards_list_wrap">
        <div class="container">
            <div class="awards_list">
                <div class="awards_text hideme slide-to-left showme d-flex">
                    <p>2021 - Certified as Great Place To Work second time in a row!</p>
                </div>
                <div class="awards_frame hideme slide-to-right showme">
                    <img src=".\assets\awards\award_2021-22.jpg" alt="award_2021-22">
                </div>
            </div>
            <!-- 2 -->
            <div class="awards_list">
                <div class="awards_frame awards_frame--left hideme slide-to-left showme">
                    <img src=".\assets\awards\award_2021.jpg" alt="award_2021">
                </div>
                <div class="awards_text awards_text--right hideme slide-to-right showme text-left">
                    <p>2021 Greenply Industries Limited (GIL) Awarded with Prestigious FSC®
                        Certification in forest management, the first in the panel industry.</p>
                </div>
            </div>
            <!-- 3 -->
            <div class="awards_list">
                <div class="awards_text hideme slide-to-left showme d-flex">
                    <p>2020 Green Gold Platinum & Wood Crrest Platinum are CARB certified.</p>
                </div>
                <div class="awards_frame hideme slide-to-right showme">
                    <img src=".\assets\awards\awards-2020-carb.png" alt="awards-2020-carb">
                </div>
            </div>
            <!-- 4 -->
            <div class="awards_list">
                <div class="awards_frame awards_frame--left hideme slide-to-left showme">
                    <img src=".\assets\awards\awards-2020-21.png" alt="awards-2020-21">
                </div>
                <div class="awards_text awards_text--right hideme slide-to-right showme text-left">
                    <p>2020 Recognized as the Great Place to Work</p>
                </div>
            </div>
            <!-- 5 -->
            <div class="awards_list">
                <div class="awards_text hideme slide-to-left showme d-flex">
                    <p>2019 Received an award by Economic Times for the Best Brand of 2019 in the 
                        plywood manufacturing category.</p>
                </div>
                <div class="awards_frame hideme slide-to-right showme">
                    <img src=".\assets\awards\awards-2019.png" alt="awards-2019">
                </div>
            </div>
            <!-- 6 -->
            <div class="awards_list">
                <div class="awards_frame awards_frame--left hideme slide-to-left showme">
                    <img src=".\assets\awards\awards-2015.png" alt="awards-2015">
                </div>
                <div class="awards_text awards_text--right hideme slide-to-right showme text-left">
                    <p>2015 Dun & Bradstreet (D&B) (the world’s leading provider of global business information, knowledge and insight) presented the ‘Dun & Bradstreet Corporate Awards 2015’ to Greenply Industries Limited under the nomination of ‘wood & wood products’ sector.</p>
                </div>
            </div>
            <!-- 7 -->
            <div class="awards_list">
                <div class="awards_text hideme slide-to-left showme d-flex">
                    <p>2014 Greenply Industries Ltd. was honoured with ‘The Brand Trust Report Award’ for being the most trusted plywood brand. The same year also witnessed the brand being awarded the ‘Dun & Bradstreet Manappuram Finance Limited Corporate Award’ in the plywood sector.</p>
                </div>
                <div class="awards_frame hideme slide-to-right showme">
                    <img src=".\assets\awards\awards-2014.png" alt="awards-2014">
                </div>
            </div>
            <!-- 8 -->
            <div class="awards_list">
                <div class="awards_frame awards_frame--left hideme slide-to-left showme">
                    <img src=".\assets\awards\awards-2013.png" alt="awards-2013">
                </div>
                <div class="awards_text awards_text--right hideme slide-to-right showme text-left">
                    <p>2013 The brand gave rise to a lasting impression with India's largest graffiti wall (960 x 5.25 ft) - Greenply Always Hoyenga. It was also featured in the Limca Book of Records (National record).</p>
                </div>
            </div>
            <!-- 9 -->
            <div class="awards_list">
                <div class="awards_text hideme slide-to-left showme d-flex">
                    <p>2012 Recognized as the largest Indian Company in the Plywood sector at the Dun & Bradstreet Corporate Awards</p>
                </div>
                <div class="awards_frame hideme slide-to-right showme">
                    <img src=".\assets\awards\awards-2012.png" alt="awards-2012">
                </div>
            </div>
            <!-- 10 -->
            <div class="awards_list">
                <div class="awards_frame awards_frame--left hideme slide-to-left showme">
                    <img src=".\assets\awards\awards-2010.png" alt="awards-2010">
                </div>
                <div class="awards_text awards_text--right hideme slide-to-right showme text-left">
                   <p>2010 Chosen as a ‘Power Brand' by Indian consumers.</p>
                </div>
            </div>
            <!-- 11 -->
            <div class="awards_list">
                <div class="awards_text hideme slide-to-left showme d-flex">
                    <p>Greenply was ranked the number one brand, being recognized as one of the plywood company in terms of the construction world.</p>
                </div>
                <div class="awards_frame hideme slide-to-right showme">
                    <img src=".\assets\awards\awards-2009.png" alt="awards-2009">
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<router-outlet></router-outlet>
