
*{
    font-family: 'Titillium Web', sans-serif;
}
hr {
    position: relative;
    border: none;
    height: 1px;
    background: #164620;
    margin-top: -5px;
}
.container{
    width: 900px;
}

.Environmental_Sustainability {
    width: 100%;
    margin: 0px auto 40px;
    display: flex;
}

.Environmental_Sustainability .Environmental_text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    position: relative;
    padding-right: 20px;
    line-height: 35px; 
}

.nav a {
  font-weight: bold;
}

.Environmental_text ul {
    overflow-y: scroll;
    height: 367px;
    margin: 0;
}

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #164620; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(248, 6, 6); 
  }

img{
    width: 660px;
}
